<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
    <h1>Welcome to <%= title %></h1>
    <h2>some changes made.</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum minus laboriosam voluptatem qui cupiditate ab animi ipsa ullam consectetur cum, in magnam consequuntur nihil ea veniam laborum aspernatur molestiae quidem?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore, enim. Quae, voluptatum perferendis unde laboriosam repellat ad debitis cupiditate in aut. Ullam expedita accusantium nesciunt laborum! Dolorem, consequatur ullam? Adipisci.</p>
</body>
</html>
